#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
#page-intro {
    height: 130px !important;
}
.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFFFFF !important;
}

@media screen  and (max-width:756px){
    .register-form{
        width: 100% !important;
    }
}
.containerss {
    width: 400px;
    height: 360px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ddd;
    text-align: center;

  }
  
  .first,
  .h2 {
    background-color: #00bcd4;
    position: relative;
    left: -40px;
    color: #fff;
    font-weight: bold;
    
  }
  
  .first {
    width: 200px;
    padding: 10px 0;
    font-size: 20px;
  }
  
  .first::after {
    content: "";
    height: 100%;
    width: 10px;
    position: absolute;
    right: -6px;
    top: 0;
    background-color: #196d78;
    transform: skew(10deg);
  }
  
  .first::before,
  .h2::after,
  .h2::before {
    content: "";
    border: 10px solid;
    border-color: #196d78 #196d78 transparent transparent;
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  
  .h2 {
    margin: 40px 0;
    padding: 20px;
    width: calc(100% + 80px);
  }
  
  .h2::after {
    left: auto;
    right: 0;
    border-color: #196d78 transparent transparent #196d78;
  }
  
  .second {
    line-height: 1.6;
    font-size: 18px;
    font-style: italic;
    color: #444;
  }
  