{% extends 'base.html' %}
{% load static %}
{% block title %} {{subjects.name}} {% endblock %}

{% block image_block %}

{% endblock %}


{% block content %}
<section id="best-features" class="text-center">
  <h2 class="mb-1 mt-7 font-weight-bold" style="color:black; margin-top: 100px;">Chapters</h2>
  <p style="font-size: 14px;">Select any of the given chapters and master it !</p>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
              
              </div>
              <!-- class row2 for cards -->
              <div class="row d-flex justify-content-center mb-3">
                {% for lesson in subjects.lessons.all %}
                <div class="col-sm-4 mb-4">
                  <div class="card box-shadow-hover">
                    <div class="card-body">
                      <h5 class="card-title">Chapter-{{lesson.position}}: {{lesson.name}}</h5>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <a href="{% url 'curriculum:lesson_detail' slug=lesson.slug subject=subjects.slug standard=lesson.Standard.slug %}" >
                      <button type="button" class="button-les" style="background-color: #9A5DE4;"><span>Get Started</span></button>
                      </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
      

</section>






{%endblock%}
