{% extends 'base.html' %}
{% load static %}
{% block title %} Standards {% endblock %}


{% block image_block %}

{% endblock %}

{% block content %}
<!-- section 1 for standards-->

<section id="best-features" class="text-center">
              <h2  style="color:black; margin-top: 6rem;">Latest Classes</h2>
              <p style="font-size: 14px;  text-align: center;">Pick any of the following classes to access the learning materials. You will get high quality video, and documentation inside these courses!</p>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
              
              
              </div>
              <!-- class row2 for cards -->
              <div class="row">
                      {% for standard in standards %}
                      <div class="col-md-4 d-flex mb-2 justify-content-center">
                        <div class="containerss" style="margin-right:2rem">
      
                          <h2 class="h2" style="font-size: 18px;">{{standard.name}}</h2>
                          <p class="second" style="font-size: 16px;">
                            {{standard.description|truncatechars:75}}
                          </p>
                          {% if user.is_authenticated %}
                          <a href="{% url 'curriculum:subject_list' slug=standard.slug %}" class="btn btn-primary" style="background-color:#9B5DE5; border: 1px solid #9B5DE5;">See Lessons</a>
                          {%else%}
                          <p>Register or login to start learning</p>
                          <a href="{% url 'user_login' %}" class="btn btn-std" style="background-color:white; color:#9B5DE5 ; border: 1px solid #9B5DE5;">Login</a>
                          <a href="{% url 'register' %}" class="btn btn-primary" style="background-color:#9B5DE5; border: 1px solid #9B5DE5;">Register</a>
                          {%endif%}
                    </div>  
                     
                      </div>
                      {% endfor %}
              </div>
</section>

{%endblock%}
