  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Standards {% endblock %}


  {% block image_block %}

  {% endblock %}

  {% block content %}
  <section id="best-features" class="text-center mt-10"  style="margin-top: 50px; ">
                <h2 class="mb-1 mt-7 font-weight-bold" style="color:black; margin-top: 100px;">Subjects</h2>
              <p style="font-size: 14px;">Select any of the given subjects and master it !</p>

                <!-- class row for description-->
                <div class="row d-flex justify-content-center mb-4">
                  <!-- class column -->
               
                </div>
                <!-- <div class="col-md-12 justify-content-center mb-5">
                  <h4 class="card-title" style="color:#ff5722;">Time-Table</h4>
                  <table id="class-time-table">
                    <tr>
                      <th></th>
                      {% for slot in slots %}
                      <th scope="row">{{slot.start_time}}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Monday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 1 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Tuesday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 2 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Wednesday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 3 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Thursday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 4 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Friday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 5 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                  </table>
                </div> -->
                <!-- class row2 for cards -->
                <div class="row d-flex justify-content-center mb-3" style="width: 100%; gap: 2rem;">
                 
                {% for subject in standards.subjects.all %}
                <div class="left" >
                  <div class="card-left">
                    <div class="image">
                      <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80" class="card-img" alt="No image found" >
                    </div>
                    <h2 class="left-h2">{{subject.name}}</h2>
  
                    <p class="p-text">
                      {{subject.description|truncatechars:75}}
                    </p>
                    <a href="{% url 'curriculum:lesson_list' slug=subject.slug standard=standards.slug %}"><button class="button-les" style="background-color: #9A5DE4;"> <span> See Lessons</span></button></a>
                  </div>
                </div>
               
                {% endfor %}
                </div>
  </section>
  {%endblock%}
