<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master_css.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    
  </head>
  <body class="body-app">
    <!-- navigation bar -->
              <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top scrolling-navbar" style="display: flex; align-items: center;justify-content: space-between;">

               <a href="{% url 'index' %}" style="margin-left: 4rem;" >
                <img src="../media/Images/logo.png" alt="" style="height: 50px; width: 50px;">
              </a>
             
                <div class="container" style=" width: 40%; justify-self: flex-end;" >
                      <a class="navbar-brand" href="{% url 'index' %}" style="color:black; font-size: 17px;"  >Home</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                           aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                       </button>
                      <div class="collapse navbar-collapse" id="basicExampleNav" >
                        <ul class=" navbar-nav  mr-auto smooth-scroll " style="color: black;">
                                <li class="nav-item" style="color: black;">
                                   <a class="nav-link" href="{% url 'curriculum:standard_list' %}"  style="color: black;">Curriculum</a>
                                </li>
                                {% if user.is_superuser %}
                                <li class="nav-item ">
                                   <a class="nav-link" href="{% url 'admin:index' %}"  style="color: black;">Admin</span> </a>
                                </li>
                                {%endif%}
                                {% if user.is_authenticated %}
                                    <li class="nav-item  " style="color: black;">
                                     <a class="nav-link" href="{% url 'user_logout' %}"  style="color: black;">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'user_login' %}"  style="color: black;">Login</a>
                                    </li>
                                    <li class="nav-item " >
                                       <a class="nav-link" href="{% url 'register' %}"  style="color: black;">Register</span> </a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                   <a class="nav-link" href="{% url 'contact' %}"  style="color: black;">Contact Us</a>
                                </li>
                             

                        </ul>
                      </div>
                </div>
                {% if user.is_authenticated %}
                <img src="https://cdn.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.webp" alt="" style="height: 50px; width: 50px;">
                <span style="margin-right: 2rem;">{{user.first_name}}</span>
            {% else %}
               
            {% endif %}
               
                <a href="{% url 'admin:index' %}"   class="btn px-3 py-2 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #9B5DE5; font-size: 14px;">Admin</a>
                
               
             

           
             
              </nav>
          {% block image_block %}
          {% endblock %}


    <div class="container">
        {%block content%}
        {%endblock%}
    </div>

    <footer class="page-footer" style="background-color:#1D2331; color: white;">
      <div class="container">
        <div class="row mt-4">
                  <div class="col-md-4 mt-4">
                            <h3>About Us</h3> <br>
                            <p style="color: #B0AEA9;">This project has been created by me as the final assignment of module web development. The major technologies used in this project are HTML,CSS,JAVASCRIPT in building user interface and DJANGO framework for building backend.This project is submmitted to module leader HARI SHARAN SHRESTHA.</p>
                  </div>
                  <div class="col-md-4 mt-4">
                            <h3>Useful Links</h3>
                            <ul style="color: #B0AEA9;">
                              <li>Our Services</li>
                              <li>Privacy Policy</li>
                              <li>Terms and condition</li>
                            </ul>
                  </div>
                  <div class="col-md-4 mt-4">
                            <h3>Contact Us</h3>
                            <ul style="color: #B0AEA9;">
                              <li>Address: New Baneshwor,kathmandu</li>
                              <li>gmx9505@gmail.com</li>
                              <li>contact number: +977 9811975816</li>
                            </ul>
                  </div>
        </div>
        <!-- <div class="footer-copyright text-center py-3">
            <p>© 2020 Copyright: Learningbotshub.com</p>
        </div> -->
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  </body>
</html>
