{% extends 'base.html'  %}
{% load static %}
{%block title %}index page{% endblock%}

{% block image_block%}
<header>
<!--Image and mask-->

<div style="height: 100vh; font-family: Poppins; background-image: url(https://images.unsplash.com/photo-1550592704-6c76defa9985?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); background-size: cover; background-position: center;" class="position-relative w-100">
  <div class="position-absolute text-white d-flex flex-column align-items-start justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.7);">
    <div class="container">
      <div class="col-md-6">
      
        <!-- on small screens remove display-4 -->
        <h1 class="mb-4 mt-5 display-4 font-weight-bold">A Good <span style="color: #9B5DE5;">Education</span> is a foundation for your better future.</h1>
        <p  style="color: #bbb;">A system with high academic achievment.Unlock the power of your creativity with digital learning system.</p>
        <div class="mt-5">
          <!-- hover background-color: white; color: black; -->
          <a href="#" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #9B5DE5;">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
     
</header>
{%endblock%}

{% block content %}

<main class="mt-5">
  <div class="container">
    <!-- section 1 for standards-->

    <section class="text-center">
                  <h2 class="mb-5 font-weight-bold" style="color:#9A5DE4;">Latest Classes</h2>
                  <!-- class row for description-->
                  <div class="row d-flex justify-content-center mb-4">
                    <!-- class column -->
                    <div class="col-md-8" style="margin-top: -2rem;">
                      <p class="grey-text" style="color: #A3A9AD;">Pick any of the following classes to access the learning materials. You will get high quality video, and documentation inside these courses.</p>
                    </div>
                  </div>
                  <!-- class row2 for cards -->
                  <div class="row">
                    
                          {% for standard in standards %}
                          <div class="col-md-4 d-flex mb-5 justify-content-center" >
                            <div class="card text-center" style="width: 18rem;">
                              <div class="card-body" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                <h4 class="card-title" style="color:#9A5DE4">{{standard.name}}</h4>
                                <!-- <p class="card-text">{{standard.description|truncatechars:75}}</p> -->
                                {% if user.is_authenticated %}
                                <a href="{% url 'curriculum:subject_list' slug=standard.slug %}" class="btn btn-primary" style="background-color:#363F4A; border: none;">Start Learning</a>
                                {%else%}
                                <p>Register or login to start learning</p>
                                <a href="{% url 'user_login' %}" class="btn btn-primary" style="background-color:#363F4A; border: none;">Login</a>
                                <a href="{% url 'register' %}" class="btn btn-primary" style="background-color:#363F4A; border: none;">Register</a>
                                {%endif%}
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                  </div>
    </section>
    <hr class="my-5" style="color:#ff5722;">
    <!-- Section 2: Faculty Members -->

    <section class="text-center">
      <h2 class="mb-5 font-weight-bold" style="color:#ff5722;">Meet Our Faculty</h2>
      <div class="row d-flex justify-content-center mb-4">
          <div class="col-md-8">
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                              hic
                              provident nulla repellat
                              facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                              est
                              sit pariatur.</p>
          </div>
          <div class="row d-flex justify-content-center mb-3">
          {% for teacher in teachers %}
          <div class="card mb-3 mr-5 ml-3" style="max-width: 500px;">
            <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="{{teacher.profile_pic.url|default_if_none:'#'}}" class="card-img" alt="No image found">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="color:#ff5722;">{{teacher.user.username}}</h5>
                          <p class="card-text">{{teacher.bio|truncatechars:75}}</p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
            </div>
            </div>
          {% endfor %}
          </div>
      </div>
    </section>

    <hr class="my-5" style="color:#ff5722;">
  </div>

<!-- section 3 for activities -->

    <section class="text-center full-width container-fluid" id="event-section">
            <h2 class="mb-3 mt-5 font-weight-bold" style="color:#ff5722;">Upcoming Events</h2>
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8">
                  <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                                    hic
                                    provident nulla repellat
                                    facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                                    est
                                    sit pariatur.</p>
                </div>
              </div>
            <div class="row d-flex justify-content-center mb-4">
              <!-- col for event 1 -->
                            <div class="card mb-3 mr-5 ml-3" style="max-width:450px;max-height:450px;">
                                <img src="https://static.dribbble.com/users/1783758/screenshots/6386088/vinyl-record-and-cover-presentation-mock-up_2x.png" alt="no image found" width="450" height="450">
                                <div class="event-mask justify-content-center">
                                  <div class="row d-flex justify-content-center"> <h2 class="font-weight-bold" style="color:#ff5722;">About the Event</h2> </div>
                                  <div class="row d-flex justify-content-center">
                                    <div class="col">
                                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                                                      hic
                                                      provident nulla repellat
                                                      facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                                                      est
                                                      sit pariatur.</p>
                                      </div>
                                   </div>
                                   <div class="row d-flex justify-content-center">
                                     <a href="{% url 'user_login' %}" class="btn btn-primary mb-3" style="background-color:#ff5722;">Get Details</a>
                                   </div>
                                </div>
                            </div>
                            <!--col for event 2  -->
                            <div class="card mb-3 mr-5 ml-3" style="max-width: 450px;max-height:450px;">
                                <img src="https://c8.alamy.com/comp/2B8C4RC/debate-dialog-communication-and-education-concept-talking-about-political-opinions-two-cardboard-speech-bubbles-2B8C4RC.jpg" alt="no image found" width="450" height="450">
                                <div class="event-mask">
                                  <div class="row d-flex justify-content-center"> <h2 class="font-weight-bold" style="color:#ff5722;">About the Event</h2> </div>
                                  <div class="row d-flex justify-content-center">
                                      <div class="col">
                                          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                                                            hic
                                                            provident nulla repellat
                                                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                                                            est
                                                            sit pariatur.</p>
                                        </div>
                                   </div>
                                   <div class="row d-flex justify-content-center">
                                     <a href="{% url 'user_login' %}" class="btn btn-primary mb-3" style="background-color:#ff5722;">Get Details</a>
                                   </div>
                                </div>
                            </div>
                    </div>

                            <!-- button to get all activities -->
                <div class="row d-flex justify-content-center mt-5 mb-3">
                    <a href="{% url 'user_login' %}" class="btn btn-primary mb-4" style="background-color:#ff5722;">See All Events</a>
            </div>
    </section>
  <hr class="my-5" style="color:#ff5722;">
</main>


{%endblock%}
