{% extends 'base.html'  %}
{% load static %}
{%block title %}index page{% endblock%}

{% block image_block%}
<header>
<!--Image and mask-->

<div style="height: 100vh; font-family: Poppins; background-image: url(https://images.unsplash.com/photo-1550592704-6c76defa9985?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); background-size: cover; background-position: center;" class="position-relative w-100">
  <div class="position-absolute text-white d-flex flex-column align-items-start justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.7);">
    <div class="container">
      <div class="col-md-6">
      
        <!-- on small screens remove display-4 -->
        <h1 class="mb-4 mt-5 display-4 font-weight-bold">A Good <span style="color: #9B5DE5;">Education</span> is a foundation for your better future.</h1>
        <p  style="color: #bbb;">A system with high academic achievment.Unlock the power of your creativity with digital learning system.</p>
        <div class="mt-5">
          <!-- hover background-color: white; color: black; -->
          <a href="#" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #9B5DE5;">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
     
</header>
{%endblock%}

{% block content %}

<main class="mt-5">
  <div class="container">
    <!-- section 1 for standards-->

    <section class="text-center">
                  <h2 class="mb-5 font-weight-bold" style="color:#9A5DE4;">Latest Classes</h2>
                  <!-- class row for description-->
                  <div class="row d-flex justify-content-center mb-4">
                    <!-- class column -->
                    <div class="col-md-8" style="margin-top: -2rem;">
                      <p class="grey-text" style="color: #A3A9AD;">Pick any of the following classes to access the learning materials. You will get high quality video, and documentation inside these courses.</p>
                    </div>
                  </div>
                  <!-- class row2 for cards -->
                  <div class="row">
                    
                          {% for standard in standards %}
                          <div class="col-md-4 d-flex mb-5 justify-content-center" >
                            <div class="card text-center" style="width: 18rem;">
                              <div class="card-body" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                <h4 class="card-title" style="color:#9A5DE4">{{standard.name}}</h4>
                                <!-- <p class="card-text">{{standard.description|truncatechars:75}}</p> -->
                                {% if user.is_authenticated %}
                                <a href="{% url 'curriculum:subject_list' slug=standard.slug %}" class="btn btn-primary" style="background-color:#363F4A; border: none;">Start Learning</a>
                                {%else%}
                                <p>Register or login to start learning</p>
                                <a href="{% url 'user_login' %}" class="btn btn-primary" style="background-color:#363F4A; border: none;">Login</a>
                                <a href="{% url 'register' %}" class="btn btn-primary" style="background-color:#363F4A; border: none;">Register</a>
                                {%endif%}
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                  </div>
    </section>
    <hr class="my-5" style="color:#9A5DE4;">
    <!-- Section 2: Faculty Members -->

    <section id="testimonials">
      <!--heading--->
      <div class="testimonial-heading">
          <span style="text-transform: capitalise; font-size: 28px; margin-top: -3rem; color: #9A5DE4;">Testimonials</span>
          <p style="color: #A3A9AD;">Here are what our student Says about this learning management system.</p>
      </div>
      <!--testimonials-box-container------>
      <div class="testimonial-box-container">
          <!--BOX-1-------------->
          <div class="testimonial-box">
              <!--top------------------------->
              <div class="box-top">
                  <!--profile----->
                  <div class="profile">
                      <!--img---->
                      <div class="profile-img">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" />
                         
                      </div>
                      <!--name-and-username-->
                      <div class="name-user">
                          <strong>Ram Bahadur</strong>
                          <span>@rambahadur</span>
                      </div>
                  </div>
                  <!--reviews------>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i><!--Empty star-->
                  </div>
              </div>
              <!--Comments---------------------------------------->
              <div class="client-comment">
                  <p>This platform has been game changer of my life. I have enrolled in all the classes and gained a lot of knowledge through this platform.</p>
              </div>
          </div>
          <!--BOX-2-------------->
          <div class="testimonial-box">
              <!--top------------------------->
              <div class="box-top">
                  <!--profile----->
                  <div class="profile">
                      <!--img---->
                      <div class="profile-img">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" />
                         
                      </div>
                      <!--name-and-username-->
                      <div class="name-user">
                          <strong>Madan Rijal</strong>
                          <span>@madanrijal</span>
                      </div>
                  </div>
                  <!--reviews------>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i><!--Empty star-->
                  </div>
              </div>
              <!--Comments---------------------------------------->
              <div class="client-comment">
                  <p>You will get the amazing content in this platform. This platform is changing the whole game of my life. It is very worth trying.So Dont miss out!</p>
              </div>
          </div>
          <!--BOX-3-------------->
          <div class="testimonial-box">
              <!--top------------------------->
              <div class="box-top">
                  <!--profile----->
                  <div class="profile">
                      <!--img---->
                      <div class="profile-img">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" />
                          
                      </div>
                      <!--name-and-username-->
                      <div class="name-user">
                          <strong>Ritiza Kc</strong>
                          <span>@ritizakc</span>
                      </div>
                  </div>
                  <!--reviews------>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i><!--Empty star-->
                  </div>
              </div>
              <!--Comments---------------------------------------->
              <div class="client-comment">
                  <p>I have built so many skills through this platform. This platform has been one of the great discovery of my life. This platform has enlightened by knowledge through different courses.</p>
              </div>
          </div>
          <!--BOX-4-------------->
          <div class="testimonial-box">
              <!--top------------------------->
              <div class="box-top">
                  <!--profile----->
                  <div class="profile">
                      <!--img---->
                      <div class="profile-img">
                          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" />
                      </div>
                      <!--name-and-username-->
                      <div class="name-user">
                          <strong>Shreesha Devkota</strong>
                          <span>@shreeshadevkota</span>
                      </div>
                  </div>
                  <!--reviews------>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i><!--Empty star-->
                  </div>
              </div>
              <!--Comments---------------------------------------->
              <div class="client-comment">
                  <p>This platform has been game changer of my life. I have enrolled in all the classes and gained a lot of knowledge through this platform.</p>
              </div>
          </div>
      </div>
    </section>


  </div>


</main>


{%endblock%}
